<ion-header>
  <app-clasic-toolbar [isModal]="true"  [title]="'Historial de cuenta'"></app-clasic-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>DNI:</strong> {{ cliente.dni }}</p>
      <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
      <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="cliente.historial && cliente.historial.length>0">
    <ion-accordion-group>
      <ion-accordion *ngFor="let historial of cliente.historial; let i = index">
        <ion-item slot="header">
          <ion-label>Compra {{ i + 1 }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h2>Items</h2>
          <ion-list>
            <ion-item *ngFor="let item of historial.items">
              <ion-label>
                <h3>Producto: <b>{{ item.producto }}</b></h3>
                <p>Precio: {{ item.precio | currency }}</p>
                <p>Fecha: {{ item.fecha | date: 'short' }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <h2>Pagos</h2>
          <ion-list>
            <ion-item *ngFor="let pago of historial.pagos">
              <ion-label>
                <h3>Tipo de pago: <b>{{ pago.concepto }}</b></h3>
                <p>Monto: {{ pago.monto | currency }}</p>
                <p>Fecha: {{ pago.fecha | date: 'short' }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>