<ion-header>
    <app-clasic-toolbar [ruta]="'/home'" [title]="'Mi cuenta'"></app-clasic-toolbar>
</ion-header>

<ion-content *ngIf="loggedUser">
    <ion-item class="">
        <img referrerpolicy="no-referrer" class=" profileImg" style="border-radius: 100%;" [src]="loggedUser.photoURL
            ?loggedUser.photoURL
            :'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png'" />

        <ion-label class="ion-padding-start ion-padding-bottom">
            <ion-text class="bold">{{
                loggedUser.displayName
                ?loggedUser.displayName
                :'Mi nombre'}}</ion-text>
            <p>{{loggedUser.role}}</p>
            <ion-chip class="ion-no-margin" style="height: 25px;" [color]="modoEditar?'danger':'success'" outline
                (click)="modoEditar=!modoEditar">
                <ion-icon [name]="modoEditar?'close-outline':'create-outline'"></ion-icon>
                <ion-label>{{modoEditar?'Cancelar edicion':'Actualizar información'}}</ion-label>
            </ion-chip>
        </ion-label>
    </ion-item>
    <ion-item class="">
        <ion-text>
            <h5 class="bold">Informacion basica</h5>

            <p class="bold" style="color: gray;">
                <ion-icon name="person-circle-outline" slot="start" color="grey"></ion-icon> DNI
                <ion-icon color="primary" *ngIf="modoEditar" slot="end" name="create-outline"
                    (click)="mostrarPopupDni()"></ion-icon>
                <ion-text class="displayBlock ion-padding-start">{{loggedUser.dni?loggedUser.dni:'--'}}</ion-text>
            </p>

            <p class="bold" style="color: gray;">
                <ion-icon name="time-outline" slot="start"></ion-icon> Fecha de Nacimiento
                <ion-icon color="primary" *ngIf="modoEditar" slot="end" name="create-outline"
                    (click)="mostrarPopupFNacimiento()"></ion-icon>
                <ion-text class="displayBlock ion-padding-start" *ngIf="loggedUser.fNacimiento; else sinFecha">
                    {{loggedUser.fNacimiento|date:'dd/MM/yyyy'}}
                </ion-text>
                <ng-template #sinFecha>
                    <ion-text class="displayBlock ion-padding-start"> -- </ion-text>
                </ng-template>
            </p>

        </ion-text>
    </ion-item>

    <ion-item class="">
        <ion-text>
            <h5 class="bold">Contacto</h5>

            <p class="bold" style="color: gray;">
                <ion-icon name="person-circle-outline" slot="start" color="grey"></ion-icon> Correo
                <ion-icon color="primary" *ngIf="modoEditar" slot="end" name="create-outline"
                    (click)="mostrarPopupCorreo()"></ion-icon>
                <ion-text class="displayBlock ion-padding-start">{{loggedUser.email?loggedUser.email:'--'}}
                </ion-text>
            </p>

            <p class="bold" style="color: gray;">
                <ion-icon name="phone-portrait-outline" slot="start"></ion-icon> Celular
                <ion-icon color="primary" *ngIf="modoEditar" slot="end" name="create-outline"
                    (click)="mostrarPopupNumeroTelefonico()"></ion-icon>
                <ion-text class="displayBlock ion-padding-start">
                    {{loggedUser.phoneNumber?loggedUser.phoneNumber:'--'}}
                </ion-text>
            </p>

        </ion-text>
    </ion-item>


</ion-content>