<ion-header>
  <app-clasic-toolbar [ruta]="'/lista-pedidos'" [title]="'Detalle del pedido'"></app-clasic-toolbar>
</ion-header>

<ion-content *ngIf="pedido">
  <ion-card class="text-center ">
    <ion-card-title class=" ion-text-center">{{pedido.tipo|uppercase}}: {{pedido.modelo|uppercase}}</ion-card-title>
    <ion-card-subtitle class="prioridad ion-text-center">

      <ion-chip [appPrioridadPedido]="pedido" *ngIf="!editarPrioridad; else editar" (click)="editarPrioridad=true;">
        <b>( {{pedido.prioridad}} )</b></ion-chip>
      <ng-template #editar>

        <ion-item fill="outline" class="ion-margin">
          <ion-select placeholder="Seleccione la nueva prioridad" formControlName="prioridad"
            (ionChange)="mostrarConfirmacion($event)">
            <ion-select-option *ngFor="let prioridad of listaDePrioridades"
              [value]="prioridad">{{prioridad}}</ion-select-option>
          </ion-select>
        </ion-item>

      </ng-template>
    </ion-card-subtitle>
    <ion-card-content>
      <ion-item *ngIf="pedido.detalle&& pedido.detalle.length>1">
        <b>Detalle:</b> <label slot="end">{{pedido.detalle}}</label>
      </ion-item>
      <ion-item>
        <b>Cantidad:</b> <label slot="end">({{pedido.cantidad}})</label>
      </ion-item>
      <ion-item>
        <b> Fecha:</b> <label slot="end">{{pedido.fecha|date}}</label>
      </ion-item>
    
      <ion-item-divider *ngIf="pedido.cliente.nombre" style="flex-direction: column; align-items: start;">
        <b>Datos del cliente</b>
        <p *ngIf="pedido.cliente.nombre">Nombre: {{pedido.cliente.nombre}}</p>
        <p *ngIf="pedido.cliente.telefono">Telefono: {{pedido.cliente.telefono}}</p>
        <p *ngIf="pedido.cliente.boleta">Boleta: {{pedido.cliente.boleta}}</p>
        <p *ngIf="pedido.cliente.precio">Precio: {{pedido.cliente.precio|currency}}</p>
      </ion-item-divider>



      <!-- Agregar anotacion -->
      <div *ngIf="showAgregarNota; else showBtnAgregar" class="flexColumn">
        <textarea name="notaPedido" id="" cols="10" rows="3" style="width: 100%;" class="mb-2" [(ngModel)]="notaPedido"
          value=""></textarea>
          <div class="flexCenterCenter">
            <ion-button color="warning" (click)="showAgregarNota=false;">Cancelar</ion-button>
            <ion-button color="primary" (click)="agregarNotaAlPedido()">Guardar nota</ion-button>
          </div>
      </div>
      <ng-template #showBtnAgregar>
        <div class="ion-text-center">
          <ion-button (click)="cargarTextArea(pedido.nota)" (click)="showAgregarNota=true;" color="secondary">
            Agregar nota
            <ion-icon slot="end" name="document-text-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-item-divider *ngIf="pedido.nota" class="ion-text-center">
          <b>Nota: </b><label slot="end">{{pedido.nota}}</label>
        </ion-item-divider>
        <!-- <ion-button ion-stroked-ion-button color="primary" >Agregar nota</ion-button> -->
      </ng-template>
      <!-- fin Agregar anotacion -->
    </ion-card-content>
    <ion-button color="danger" expand="block" class="ion-margin" (click)="cancelarPedido()">Cancelar pedido
      completo</ion-button>
    <hr>
  </ion-card>
</ion-content>