ion-content {
    --background: #FFFFFF;
}

ion-toolbar.sc-ion-searchbar-ios-h,
ion-toolbar .sc-ion-searchbar-ios-h {
    padding-bottom: 1px !important;
}

.sc-ion-buttons-ios-h {
    margin-top: 6px;
}

.presentacion {
    color: #555;
}

h2 {
    font-size: 16px;
    padding: 2px 0;
}

h3 {
    font-size: 15px;
    padding: 2px 0;
}

h4 {
    font-size: 14px;
    padding: 2px 0;
}

p {
    color: #666666;
    padding: 2px 0;
}


ion-fab {
    bottom: 10px;
}

.terminarSeleccion {
    position: fixed;
    bottom: 16px;
    right: 0.5rem;
    animation: mostrarse;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-iteration-count: 4;
    transition: 0.5s;
    background: white;
}

.flag-help-left {
    position: fixed;
    bottom: 24px;
    right: 205px;
}

.flag-help-down {
    position: fixed;
    bottom: 70px;
    right: 95px;
}

@keyframes mostrarse {
    0% {
        box-shadow: 0 0 0 0 lightblue;
    }

    50% {
        box-shadow: 0 0 5px 3px lightblue;
    }
}