<ion-header>
  <app-clasic-toolbar [ruta]="'/lista-baterias'" [title]="'Agregar Bateria'"></app-clasic-toolbar>
</ion-header>

<ion-content>
  <ion-card class="d-flex justify-content-center">

    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <b>
          Agregar Bateria
        </b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form class="card p-3 m-3 col-lg-6" [formGroup]="formBateria">
        

        <ion-item  class="ion-margin">
          <ion-select aria-label="fruit" placeholder="Select fruit" formControlName="marca">>
            <ion-select-option *ngFor="let marca of marcas" [value]="marca">{{marca}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item   class="ion-margin">
          <ion-input type="text" placeholder="Escriba el modelo" aria-label="bateria" formControlName="modelo">
          </ion-input>
        </ion-item>

        <ion-item   class="ion-margin">
          <ion-input type="text" placeholder="Escriba el codigo" aria-label="bateria" formControlName="codigo">
          </ion-input>
        </ion-item>

        <ion-item  class="ion-margin">
          <ion-input type="number" placeholder="precio en dolares" formControlName="precio"></ion-input>
          <ion-chip>{{formBateria.controls['precio'].value*precioDolarBlue|currency:'USD':'symbol':'1.0-0'}}</ion-chip>
        </ion-item>


        <ion-item  class="ion-margin">
          <ion-select aria-label="fruit" placeholder="Select fruit" formControlName="calidad">
            <ion-select-option *ngFor="let calidad of calidades" [value]="calidad">{{calidad}}</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-button type="submit" color="primary" expand="block" [disabled]="!formBateria.valid"
          (click)="procesarAltaBateria()">Agregar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>