<ion-header>
  <app-clasic-toolbar [ruta]="ruta" [title]="'Crear boleta'"></app-clasic-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Alta reparacion</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="ion-text-center">
        <ion-chip color="success" outline class="ion-text-center ion-margin"> Tomé una foto a la boleta completa
        </ion-chip>
        <ion-button color="secondary" expand="block" class="ion-margin-bottom" (click)="takePicture()">
          <ion-icon name="camera-outline" style="font-size: 2rem;"></ion-icon>
        </ion-button>
        <div style="display: flex; justify-content: center;">
          <ion-img style="width: 100px; max-height: 100px;" *ngIf="imgVistaPrevia" [src]="imgVistaPrevia"></ion-img>
        </div>
      </div>

      <form [formGroup]="formAltaReparacion" (ngSubmit)="mostrarConfirmacion()">
        <ion-item class="ion-activated" >
          <ion-label position="floating">DNI cliente</ion-label>
          <ion-icon slot="end" name="card-outline"></ion-icon>
          <ion-input type="number" placeholder="40414243" formControlName="dniCliente"></ion-input>
        </ion-item>

        <ion-item class="ion-activated" >
          <ion-label position="floating">Numero de boleta</ion-label>
          <ion-icon slot="end" name="document-outline"></ion-icon>
          <ion-input type="text" placeholder="4550" formControlName="nroBoleta"></ion-input>
        </ion-item>

        <ion-item class="ion-activated" >
          <ion-label position="floating">Modelo del equipo</ion-label>
          <ion-icon slot="end" name="phone-portrait-outline"></ion-icon>
          <ion-input type="text" placeholder="J7 prime" formControlName="modelo"></ion-input>
        </ion-item>

        <ion-item class="ion-activated" >
          <ion-label position="floating">Telefono del cliente</ion-label>
          <ion-icon slot="end" name="logo-whatsapp"> </ion-icon>
          <ion-input type="number" placeholder="1150604010" formControlName="telefono"></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-margin-top" type="submit"
          [disabled]="!formAltaReparacion.valid|| !imgVistaPrevia">
          Generar reparacion
        </ion-button>
      </form>

    </ion-card-content>

  </ion-card>
</ion-content>