<ion-header>
  <app-clasic-toolbar [ruta]="'/dashboard'" [title]="'Lista de productos'" [mostrarOpciones]="true"
    (opcionesClick)="mostrarOpciones()"></app-clasic-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar animated="true" placeholder="Ej: Cargador" (ionInput)="filtrarProductos($event)"></ion-searchbar>

  <ion-list>
    <!-- <ion-item-sliding > -->
    <ion-item *ngFor="let producto of productosAMostrar; let index = index">
      <ion-card style="width: 100%;" (click)="mostrarOpciones(producto)">
        <ion-toolbar class="header">
          <ion-text class="ion-text-center">
            <b> {{producto.producto|uppercase}}</b>
          </ion-text>
        </ion-toolbar>
        <ion-card-content style="display: flex; align-items: center;">

          <div class="flexColumn" style="align-items: center;border-right: 1px solid #cbcbcb;margin-right: 0.5rem;">
            <ion-avatar style="width: 70px; height: 70px;" *ngIf="producto.images; else sinImagen"
              class="flexCenterCenter" (click)="mostrarImagenCompleta($event,producto.images[0])">
              <ion-chip *ngIf="producto.cantidad<=0" color="danger" class="no-radius"
                style="position: absolute; background: black;"><small><b>SIN STOCK</b></small></ion-chip>
              <img [src]="producto.images[0]" />
            </ion-avatar>
            <ion-chip *ngIf="producto.images" style="padding: 0.2rem;" color="tertiary" class="no-radius "
              (click)="actualizarImagen($event, producto)">
              <small>Cambiar imagen</small>
            </ion-chip>
            <ng-template #sinImagen>
              <ion-avatar>
                <img [src]="'https://cdn-icons-png.flaticon.com/512/10608/10608883.png'" />
              </ion-avatar>

              <ion-chip color="secondary" class="no-radius " (click)="cargarImagen($event, producto)">
                <small>Cargar imagen</small>
              </ion-chip>
            </ng-template>


          </div>
          <div style="display: flex; flex-direction: column; align-items: start;">

            <!-- <ion-button fill="outline" size="small" style="
          position: absolute;
          right: 0.5rem;
          top: 0.3rem;">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button> -->
            <ion-text *ngIf="producto.marca"><b>Marca:</b> {{producto.marca|titlecase}}</ion-text>
            <!-- <ion-text *ngIf="producto.color"><b>Color:</b> {{producto.color}}</ion-text> -->

            <ion-text *ngIf="producto.cantidad"><b>Cantidad:</b> {{producto.cantidad}}</ion-text>
            <ion-chip [color]="mostrarCosto?'danger':'success'" class="ion-text-center"
              (click)="mostrarCostoToggle($event)">
              <ion-icon name="cash-outline"></ion-icon>
              <ion-text *ngIf="producto.precio">
                <b *ngIf="mostrarCosto"> {{(producto.costo*precioDolarBlue)|redondearPrecio: 'pesos'|currency}}
                  <small>
                    ({{producto.costo|redondearPrecio: 'dolares'|currency}})</small></b>
                <b *ngIf="!mostrarCosto">{{producto.precio|redondearPrecio: 'pesos'|currency}}</b>
              </ion-text>
            </ion-chip>
            <!-- <ion-text *ngIf="producto.iva"><b>iva:</b> {{producto.iva}}</ion-text> -->
            <!-- <ion-text *ngIf="producto.precio_con_iva"><b>precio_con_iva:</b> {{producto.precio_con_iva}}</ion-text> -->
          </div>
        </ion-card-content>

        <ion-footer>
          <ion-toolbar>
            <ion-text *ngIf="producto.codigo; else agregarCodigoDeProducto"><b>Codigo:</b>
              {{producto.codigo}}</ion-text>
            <ion-icon (click)="solicitarConfirmacion($event,producto)" color="tertiary" name="barcode-outline"
              style=" position: absolute; right: 0.5rem; top: 0.5rem; font-size: 2rem;"></ion-icon>
          </ion-toolbar>
          <ng-template #agregarCodigoDeProducto>
            <ion-button (click)="agregarCodigoDeBarra($event, producto)" color="success" size="small">Agregar un
              codigo de barras
            </ion-button>
            <ion-icon (click)="solicitarConfirmacion($event,producto)" color="tertiary" name="barcode-outline"
              style=" position: absolute; right: 0.5rem; top: 0.5rem; font-size: 2rem;"></ion-icon>

          </ng-template>
        </ion-footer>

      </ion-card>
    </ion-item>

    <!-- <ion-item-options>
        <ion-item-option >
          <div class="flexColumn" style="justify-content: center; align-items: center;">
            <ion-icon style="font-size: 1.5rem;" name="create-outline"></ion-icon>
            <ion-text>
              Editar
            </ion-text>
          </div>
        </ion-item-option>
        <ion-item-option color="danger" >
          <div class="flexColumn" style="justify-content: center; align-items: center;">
            <ion-icon style="font-size: 1.5rem;" name="trash-outline"></ion-icon>
            <ion-text>
              Eliminar
            </ion-text>
          </div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>

  <ion-action-sheet mode="ios" [isOpen]="isActionSheetOpen" header="Acciones disponibles" [buttons]="actionSheetButtons"
    (didDismiss)="setOpen(false)"></ion-action-sheet>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="mostrarFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" color="tertiary" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="mostrarFormulario()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>