<ion-header>
  <app-clasic-toolbar [ruta]="'/home'" [title]="'Mis reparaciones'"></app-clasic-toolbar>
</ion-header>

<ion-content>



  <!-- <app-form-alta-reparacion></app-form-alta-reparacion> -->
  <ion-searchbar class="ion-margin-top" show-cancel-button="focus" cancel-button-text="Custom Cancel"
    placeholder="Ingrese numero de boleta" [(ngModel)]="textoABuscar" (ionChange)="buscarBoleta()"></ion-searchbar>


  <app-custom-ion-sliding *ngFor="let reparacion of reparacionesAMostrar" [reparacion]="reparacion"
    (mostrarDetalleEvent)="mostrarDetalle($event)"></app-custom-ion-sliding>


  <!-- <ion-refresher slot="fixed" (ionRefresh)="obtenerReparaciones($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Desliza para actualizar"
      refreshingSpinner="circles" refreshingText="Actualizando reparaciones...">
    </ion-refresher-content>
  </ion-refresher> -->
</ion-content>