<ion-header>
  <app-clasic-toolbar [isModal]="false" (opcionesClick)="mostrarOpciones()" [mostrarOpciones]="true"
    [ruta]="'/dashboard'" [title]="'Historial de caja'"></app-clasic-toolbar>
</ion-header>


<ion-content>
  <ion-action-sheet mode="ios" [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
  (didDismiss)="setOpen(false)"></ion-action-sheet>
  <div *ngIf=" loggedUser">

    <div class="ion-text-center flexCenterCenter" style="flex-wrap: wrap; flex-direction: column;">
      <ion-toggle [checked]="true" [(ngModel)]="buscarPorRangoDeFechas">Buscador de rango</ion-toggle><br /><br />
      <h2 *ngIf="fechaSeleccionadaDate && fechaSeleccionadaDateFin">
        {{fechaSeleccionadaDate|date:'dd/MM/yyyy'}} - {{fechaSeleccionadaDateFin|date:'dd/MM/yyyy'}}</h2>
      <ion-card style="width: 350px; max-width: 400px; margin: 0; margin-bottom: 1rem;">

        <ion-accordion-group>
          <ion-accordion value="first">
            <!-- <ion-item slot="header" color="light"> -->
            <ion-toolbar color="secondary" class="header" slot="header">
              <ion-icon style="font-size: 2rem;" class="ion-margin" slot="start" name="calendar-outline"></ion-icon>
              <ion-title class="ion-text-center">
                <b> Fecha de inicio </b>
              </ion-title>
              <ion-icon slot="end" class="ion-padding"> </ion-icon>
            </ion-toolbar>
            <!-- </ion-item> -->
            <div slot="content">
              <ion-datetime min="2022-07-01T00:00:00" [max]="maxFechaActual" presentation="date" [preferWheel]="true"
                locale="es-ES" [(ngModel)]="fechaSeleccionadaDate" (ionChange)="updateCalcs($event)"> </ion-datetime>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card>

      <ion-card style="width: 350px; max-width: 400px; margin: 0;" *ngIf="buscarPorRangoDeFechas">

        <ion-accordion-group>
          <ion-accordion value="first">
            <!-- <ion-item slot="header" color="light"> -->
            <ion-toolbar class="header" slot="header">
              <ion-icon style="font-size: 2rem;" class="ion-margin" slot="start" name="calendar-outline"></ion-icon>
              <ion-title class="ion-text-center">
                <b> Fecha de fin </b>
              </ion-title>
              <ion-icon slot="end" class="ion-padding"> </ion-icon>
            </ion-toolbar>
            <!-- </ion-item> -->
            <div slot="content">
              <ion-datetime [min]="fechaSeleccionadaDate" [max]="maxFechaActual" presentation="date"
                [preferWheel]="true" locale="es-ES" [(ngModel)]="fechaSeleccionadaDateFin"
                (ionChange)="updateCalcsFin($event)">
              </ion-datetime>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card>


      <!-- <ion-card style="width: 350px; max-width: 400px;">
        <ion-toolbar class="header">
          <ion-icon style="font-size: 2rem;" class="ion-margin" slot="start" name="calendar-outline"></ion-icon>
          <ion-title class="ion-text-center">
            <b> Fecha de inicio</b>
          </ion-title>
          <ion-icon slot="end" class="ion-padding"> </ion-icon>
        </ion-toolbar>
        <ion-datetime min="2023-10-01T00:00:00" [max]="maxFechaActual" presentation="date" [preferWheel]="true"
          locale="es-ES" [(ngModel)]="fechaSeleccionadaDate" (ionChange)="updateCalcs($event)"> </ion-datetime>

      </ion-card> -->
    </div>

    <div style="display: flex; flex-direction: column;" *ngIf="!buscarPorRangoDeFechas
      ? mostrarAcciones
      :fechaSeleccionadaDate && fechaSeleccionadaDateFin">

      <ion-button *ngIf="!buscarPorRangoDeFechas" color="secondary" (click)="mostrarDiaSeleccionado()"
        (click)="scrollToElement($event,'#filtroBusquedaHistorial')">
        Dia seleccionado
      </ion-button>

      <ion-button color="primary" (click)="mostrarMesCompleto(false)"
        *ngIf="!buscarPorRangoDeFechas && funcionesUtiles.roleMinimoNecesario('OWNER',loggedUser)">
        Mes completo
      </ion-button>

      <ion-button color="warning"
        (click)="!buscarPorRangoDeFechas?mostrarMesCompleto(true):mostrarIntervaloDeTiempo(true)"
        (click)="scrollToElement($event,'#filtroBusquedaHistorial')">
        Busqueda por texto
      </ion-button>

      <ion-button color="primary"
        *ngIf="buscarPorRangoDeFechas && funcionesUtiles.roleMinimoNecesario('OWNER',loggedUser)"
        (click)="mostrarIntervaloDeTiempo(false)" (click)="scrollToElement($event,'#filtroBusquedaHistorial')">
        Mostrar Resultados
      </ion-button>





    </div>

    <ion-card
      *ngIf="intervaloSeleccionado && intervaloSeleccionado.dias && !libroDiario && !mostrarBuscador &&loggedUser.role=='OWNER'">
      <!-- <ion-card-header>
        <ion-card-title style="text-align: center; width: 100%; margin-top: 1rem;">Ingresos
          {{intervaloSeleccionado.id}}</ion-card-title>
      </ion-card-header> -->

      <ion-card-content>
        <ion-card class="ion-text-center">

          <table style="width: 100%; text-align: start;">
            <tbody>
              <tr *ngIf="intervaloSeleccionado.montoTotalMensualEfectivo>0">
                <th>Efectivo</th>
                <td>{{intervaloSeleccionado.montoTotalMensualEfectivo|currency}}</td>
              </tr>

              <tr *ngIf="intervaloSeleccionado.montoTotalMensualTransferencia>0">
                <th>Transferencia</th>
                <td>{{intervaloSeleccionado.montoTotalMensualTransferencia|currency}}</td>
              </tr>

              <tr *ngIf="intervaloSeleccionado.montoTotalMensualMercadoPago>0">
                <th>Mercado pago</th>
                <td>{{intervaloSeleccionado.montoTotalMensualMercadoPago|currency}}</td>
              </tr>
              <tr *ngIf="intervaloSeleccionado.montoNegativoTotalMensualEfectivo<0">
                <th>Retiros de dinero</th>
                <td><ion-text
                    color="danger">{{intervaloSeleccionado.montoNegativoTotalMensualEfectivo|currency}}</ion-text>
                </td>
              </tr>
              <tr>
                <th>TOTAL:</th>
                <td><ion-text color="success">{{intervaloSeleccionado.montoTotalMensualEfectivo+
                    intervaloSeleccionado.montoTotalMensualTransferencia+
                    intervaloSeleccionado.montoTotalMensualMercadoPago|currency}}</ion-text></td>
              </tr>
            </tbody>
          </table>
        </ion-card>
      </ion-card-content>

      <h2 style="text-align: center; width: 100%;">({{intervaloSeleccionado.dias.length}}) dias trabajados</h2>

      <ion-chip style="width: 100%; justify-content: space-between;" (click)="mostrarDialogLibroDiario(libroDiario)"
        *ngFor="let libroDiario of intervaloSeleccionado.dias">
        <label>{{libroDiario.fecha|date}}</label>
        <label>{{libroDiario.montoTotalEfectivo|currency}}</label>
      </ion-chip>
    </ion-card>

  </div>
</ion-content>