<ion-item-sliding *ngIf="reparacion" (click)="mostrarDetalle()">
  <ion-item>
    <ion-icon [name]="slidingConfig.iconName" [appEstadoReparacionColor]="reparacion.estado"></ion-icon>
    <ion-text class="itemSlidding" [appEstadoReparacionBgcolor]="reparacion.estado">
      {{slidingConfig.stateMessage}}
      <small class="smallFecha" style="position: absolute; right: 1.5rem; top: 1rem;">{{reparacion['fecha']|date}}
      </small>
      <small class="smallBoleta"
        style="position: absolute; right: 1.5rem; bottom: 1rem;">({{reparacion.nroBoleta}})</small>
      <small class="smallBoleta" style="position: absolute; right: 1.5rem; top: 1rem;">{{reparacion.modelo}}</small>
    </ion-text>
  </ion-item>
  <ion-item-options>
    <ion-item-option *ngFor="let option of slidingOptions" [ngStyle]="{'background-color': option.bgColor}"
      (click)="procesar($event)">
      {{option.text}}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>