<ion-header>
  <app-clasic-toolbar [ruta]="'/historial-caja'" [title]="'Ventas del dia'" (opcionesClick)="mostrarOpciones()" [mostrarOpciones]="true"> </app-clasic-toolbar>

</ion-header>


<ion-content *ngIf="libroDiario">
  <ion-action-sheet mode="ios" [isOpen]="isActionSheetOpen" header="Acciones" [buttons]="actionSheetButtons"
  (didDismiss)="setOpen(false)"></ion-action-sheet>
  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Cierre de caja
        <ion-button expand="block" (click)="abrirFormularioDeVenta()">Editar</ion-button>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-item  class="ion-margin">
          <ion-input labelPlacement="floating" label="Cambiar monto inicial" type="number" placeholder="Ingrese el monto de apertura" [(ngModel)]="montoIngresado"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <div>
          <ion-button color="primary" (click)="showConfirmDialog()">Guardar</ion-button>
        </div>
      </div>
      <table style="width: 100%;">
        <tbody>
          <tr>
            <th>Monto inicial</th>
            <td>{{libroDiario.montoInicial|currency}}</td>
          </tr>
          <tr>
            <th>Efectivo</th>
            <td>{{libroDiario.montoTotalEfectivo|currency}}</td>
          </tr>
          <tr *ngIf="libroDiario.montoTotalEfectivo && libroDiario.montoInicial">
            <th>TOTAL:</th>
            <td>{{libroDiario.montoTotalEfectivo+
              libroDiario.montoInicial|currency}}</td>
          </tr>
        </tbody>
      </table>

      <ion-accordion-group *ngIf="libroDiario.historialDeCierre">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-text>Historial de cierre</ion-text>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-chip style="flex-direction: column;"
              [color]="cierre.resultadoDeCaja<0?'danger':cierre.resultadoDeCaja>0?'primary':'success'"
              *ngFor="let cierre of  libroDiario.historialDeCierre">
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <p>{{cierre.usuario|titlecase}}</p>
                <p>{{cierre.fechaString}}</p>
              </div>
              <div style="display: flex;  justify-content: space-between; width: 100%; margin-top: 0.5rem;">
                <p>{{cierre.mensaje|titlecase}}</p>
                <p>{{cierre.resultadoDeCaja|currency}}</p>
              </div>

            </ion-chip>

          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>


  <div *ngIf="libroDiario && libroDiario.ventas">

    <ion-chip *ngFor="let item of libroDiario.ventas" style="justify-content: space-between;"
      [ngStyle]="{'background-color': item.boleta ? 'rgb(168 231 232)' : '' , 'border': item.medioDePago!='efectivo' ? '2px solid orange' : 'none' }">

      <label [ngStyle]="{'color': item.precio<0 ? 'red' : '' }" style="margin: 0;">{{item.precio|currency}}</label>
      <b>{{item.descripcion|maxLength:25}} </b>

      <label style="margin: 0;"> {{item.boleta?'('+item.boleta+')':''}}</label>
    </ion-chip>
  </div>
</ion-content>