<ion-header>
  <app-clasic-toolbar [ruta]="'/dashboard'" [title]="'Repuestos'"></app-clasic-toolbar>
</ion-header>

<!-- *ngIf="loggedUser" -->
<ion-content>
  <div class="grid-container">
    <div *ngFor='let modulo of modulos'>
      <ion-chip *ngIf="funcionesUtiles.roleMinimoNecesario(modulo.role,loggedUser)" class=" flexCenterCenter"
      [routerLink]="modulo.ruta" routerLinkActive="router-link-active" [ngStyle]="{'background-color':modulo.color}">
      <ion-text class="ion-text-center title" style="color: white; font-size: 1.5rem;"><b>{{modulo.titulo}}</b></ion-text>
      <img *ngIf="modulo.img" [src]="modulo.img" alt="">
    </ion-chip>
    </div>   
  </div>

</ion-content>