<ion-header>
  <app-clasic-toolbar [isModal]="false" (opcionesClick)="mostrarOpciones()" [mostrarOpciones]="true"
    [ruta]="'/dashboard'" [title]="'Boletas'"></app-clasic-toolbar>
</ion-header>

<ion-content *ngIf="loggedUser">
  <ion-action-sheet mode="ios" [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
    (didDismiss)="setOpen(false)"></ion-action-sheet>
  <ion-item>
    <ion-select label="Campos visibles" label-placement="floating" placeholder="Selecciona los campos que quieres ver"
      [multiple]="true" [(ngModel)]="camposSeleccionados">
      <ion-select-option value="nroBoleta">Boleta</ion-select-option>
      <ion-select-option value="dniCliente">Cliente</ion-select-option>
      <ion-select-option value="estado">Estado</ion-select-option>
      <ion-select-option value="modelo">Modelo</ion-select-option>
      <ion-select-option value="telefono">Telefono</ion-select-option>
      <ion-select-option value="fechaUltimoCambioDeEstado">Ultimo cambio de estado</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-chip [color]="busquedaPorInput?'success':'primary'" style="flex-direction: column; width: 90%;"
    class="ion-margin">
    <b>{{busquedaPorInput?'Busqueda por texto':'Busqueda por estados'}}</b>
    <ion-toggle [(ngModel)]="busquedaPorInput"> </ion-toggle>
  </ion-chip>

  <ion-item lines="none" *ngIf="busquedaPorInput;else busquedaPorEstados">
    <ion-searchbar (ionClear)="boletasAMostrar=[]" show-clear-button="focus" placeholder="3885 o 40141516 o G7 power"
      [(ngModel)]="textoABuscar"></ion-searchbar>
    <ion-button type="submit" style="width: 3rem; height: 2rem;" slot="end" (click)="applyFilter()">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-item>
  <ng-template #busquedaPorEstados>
    <ion-item>
      <ion-select label="Estado seleccionado" label-placement="floating"
        placeholder="Selecciona el estado que quieres buscar" [(ngModel)]="estadoSeleccionado">
        <ion-select-option value="PENDIENTE">Pendiente</ion-select-option>
        <ion-select-option value="EN_REVISION">En revision</ion-select-option>
        <ion-select-option value="CANCELADO_POR_EL_USUARIO">Cancelado por el usuario</ion-select-option>
        <ion-select-option value="EN_PROCESO">En proceso</ion-select-option>
        <ion-select-option value="ESPERADO_RESPUESTA">Esperado respuesta</ion-select-option>
        <ion-select-option value="PAUSADO">Pausado</ion-select-option>
        <ion-select-option value="NO_REPARADO">No reparado</ion-select-option>
        <ion-select-option value="REPARADO">Reparado</ion-select-option>
        <ion-select-option value="PARA_NOTIFICAR">Para notificar</ion-select-option>
        <ion-select-option value="PARA_ENTREGAR">Para entregar</ion-select-option>
        <ion-select-option value="RETIRADO">Retirado</ion-select-option>
      </ion-select>
      <ion-button type="submit" style="width: 3rem; height: 2rem;" slot="end" (click)="buscarPorEstado()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-item>
  </ng-template>

  <!-- (ionInput)="applyFilter($event)" -->

  <ion-chip style="width: 80%; left: 10%;" color="secondary" outline="true" class="ion-text-center"
    *ngIf="sinCoincidencias">No se encontraron boletas con ese dato.</ion-chip>
  <div *ngIf="loggedUser && boletas">


    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col *ngIf="camposSeleccionados.includes('nroBoleta')"><b>Boleta</b></ion-col>
        <ion-col *ngIf="camposSeleccionados.includes('dniCliente')"><b>Cliente</b></ion-col>
        <ion-col *ngIf="camposSeleccionados.includes('estado')"><b>Estado</b></ion-col>
        <ion-col *ngIf="camposSeleccionados.includes('modelo')"><b>Modelo</b></ion-col>
        <ion-col *ngIf="camposSeleccionados.includes('telefono')"><b>Telefono</b></ion-col>
        <ion-col *ngIf="camposSeleccionados.includes('fechaUltimoCambioDeEstado')"><b>Actualizado</b></ion-col>
      </ion-row>
      <ion-row *ngFor="let boleta of boletasAMostrar; let index=index"
        (click)=" funcionesUtiles.roleMinimoNecesario('EMPLEADO',loggedUser)?seleccionar(boleta):''">
        <ion-item-sliding>
          <ion-item class="ion_item">
            <ion-col *ngIf="camposSeleccionados.includes('nroBoleta')">{{boleta.nroBoleta}}</ion-col>
            <ion-col *ngIf="camposSeleccionados.includes('dniCliente')" class="flexCenterCenter" style="justify-content: space-between;">{{boleta.dniCliente}}
              <ion-badge (click)="solicitarConfirmacionDeBusqueda($event,boleta.dniCliente)">
                <ion-icon name="search-outline"></ion-icon>
              </ion-badge>
            </ion-col>
            <ion-col *ngIf="camposSeleccionados.includes('estado')" class="flexColumn">
              <ion-text>
                <b>{{boleta.estado| estadoReparacion:'short'}}</b>
              </ion-text>
              <ion-text *ngIf="boleta.estado=='RETIRADO'">{{ boleta.fechaUltimoCambioDeEstado | date:'dd-MM-yyyy'
                }}</ion-text>
            </ion-col>
            <ion-col *ngIf="camposSeleccionados.includes('modelo')">{{boleta.modelo}}</ion-col>
            <ion-col *ngIf="camposSeleccionados.includes('telefono')">{{boleta.telefono}}</ion-col>
            <ion-col *ngIf="camposSeleccionados.includes('fechaUltimoCambioDeEstado')">{{
              boleta.fechaUltimoCambioDeEstado | date:'dd-MM-yyyy' }}
            </ion-col>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger" (click)="eliminarBoleta($event,boleta,index)">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-row>

    </ion-grid>
    <!-- 
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col><b>Numero de boleta</b></ion-col>
        <ion-col><b>Dni cliente</b></ion-col>
        <ion-col><b>Estado</b></ion-col>

      </ion-row>
      <ion-row
        (click)="(loggedUser && funcionesUtiles.roleMinimoNecesario('EMPLEADO',loggedUser))?seleccionar(boleta):null"
        *ngFor="let boleta of boletas">
        <ion-col>{{boleta.nroBoleta}}</ion-col>
        <ion-col>{{boleta.dniCliente}}</ion-col>
        <ion-col>{{boleta.estado}}</ion-col>
      </ion-row>
    </ion-grid> -->

  </div>


  <ion-fab *ngIf="funcionesUtiles.roleMinimoNecesario('EMPLEADO',loggedUser)" vertical="bottom" horizontal="end"
    slot="fixed" (click)="openDialog()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ng-template #mostrarSpinner>
  <ion-content>
    <ion-title>Cargando...</ion-title>
  </ion-content>
</ng-template>