<ion-header>
  <app-clasic-toolbar [ruta]="'/proveedores'" [title]="'Detalle del proveedor'"></app-clasic-toolbar>
</ion-header>

<ion-content *ngIf="proveedor">

  <ion-card>
    <ion-card-header class="ion-text-center">
      <b>{{proveedor.nombre}} </b><ion-icon slot="end" name="create-outline"></ion-icon>

    </ion-card-header>
    <ion-card-content>
      <ion-item>

        <small> Direccion: <b> {{proveedor.direccion}}</b> </small><ion-icon slot="end"
          name="create-outline"></ion-icon>
      </ion-item>

      <ion-item>

        <small>Telefono: <b> {{proveedor.telefono}}</b></small> <ion-icon slot="end" name="create-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <small>Tel alternativo: <b>{{proveedor.telefonoAlternativo?proveedor.telefonoAlternativo:'NO'}}</b></small>
        <ion-icon slot="end" name="create-outline"></ion-icon>
      </ion-item>

      <ion-item-divider> </ion-item-divider>

      <ion-card>
        <ion-card-header class="ion-text-center">
          Modulos
        </ion-card-header>
        <ion-card-content>
          {{proveedor.modulos}}
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>