<ion-header>
  <app-clasic-toolbar [ruta]="'/repuestos'" [title]="'Lista de flexDeCargas'"></app-clasic-toolbar>
</ion-header>


<ion-content *ngIf="flexDeCargas && loggedUser">
  <app-precio-dolar [loggedUser]="loggedUser"
    *ngIf="loggedUser && funcionesUtiles.roleMinimoNecesario('OWNER',loggedUser)"></app-precio-dolar>

  <div class="ion-text-center">
    <ion-chip color="success" outline="true" class=" ion-margin"
      *ngIf="loggedUser && (funcionesUtiles.tieneUnRoleInferior('OWNER',loggedUser));">
      <b> Todos los precios incluyen colocacion.</b>
    </ion-chip>
  </div>

  <ion-item>
    <ion-select aria-label="Fruit" placeholder="Selecciona los campos que quieres ver" [multiple]="true"
      [(ngModel)]="camposSeleccionados">
      <ion-select-option value="marca">Marca</ion-select-option>
      <ion-select-option value="modelo">Modelo</ion-select-option>
      <ion-select-option value="precio">Precio</ion-select-option>
      <ion-select-option value="calidad">Calidad</ion-select-option>
      <ion-select-option value="stock">Stock</ion-select-option>
      <ion-select-option value="version">Version</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-searchbar show-clear-button="focus" placeholder="A20s" (ionInput)="handleInput($event)"></ion-searchbar>

  <div class="ion-text-center">
    <ion-chip color="tertiary" class="no-radius" (click)="mostrarImagenCompleta()">Ver diferencias entre
      calidades</ion-chip>
  </div>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col *ngIf="camposSeleccionados.includes('marca')"><b>Marca</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('modelo')"><b>Modelo</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('precio')"><b>Precio</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('calidad')"><b>Calidad</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('stock')"><b>Stock</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('version')"><b>Version</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let flexDeCarga of flexDeCargasAMostrar">
      <ion-item-sliding>
        <ion-item class="ion_item" lines="none"
          (click)="funcionesUtiles.roleMinimoNecesario('ADMIN',loggedUser)? seleccionar(flexDeCarga):''">
          <ion-col *ngIf="camposSeleccionados.includes('marca')">{{flexDeCarga.marca | titlecase}}</ion-col>
          <ion-col *ngIf="camposSeleccionados.includes('modelo')">{{flexDeCarga.modelo | titlecase}}
            <div *ngIf="flexDeCarga.version">
              <ion-text color="danger"> Version: "{{flexDeCarga.version | titlecase}}"</ion-text>
            </div>
          </ion-col>
          <ion-col *ngIf="camposSeleccionados.includes('precio')">{{flexDeCarga.precio * precioDolarBlue | currency:
            'USD':'symbol':'1.0-0' }}</ion-col>
          <ion-col *ngIf="camposSeleccionados.includes('calidad')">{{flexDeCarga.calidad}}</ion-col>
          <ion-col *ngIf="camposSeleccionados.includes('stock')"
            (click)="funcionesUtiles.roleMinimoNecesario('ADMIN',loggedUser)? seleccionarStock($event, flexDeCarga):''">{{flexDeCarga.stock}}</ion-col>
          <ion-col *ngIf="camposSeleccionados.includes('version')">{{flexDeCarga.version}}</ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminarFlexDeCarga(flexDeCarga)">
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-row>
  </ion-grid>



  <ion-fab *ngIf="funcionesUtiles.roleMinimoNecesario('ADMIN',loggedUser)" slot="fixed" vertical="bottom"
    horizontal="end" (click)="abrirFormModulo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
<!-- FORM MODIFICAR STOCK RAPIDO -->
<app-modificador-de-stock-rapido *ngIf="showStockDialog" (actualizarStockEvent)="actualizarModuloEnFirebase($event)"
  (cerrarModificadorEvent)="showStockDialog=false;"
  [stockEditable]="placaDeCargaSeleccionada.stock?placaDeCargaSeleccionada.stock:0">
</app-modificador-de-stock-rapido>
<!-- FIN FORM MODIFICAR STOCK RAPIDO -->