<ion-header>
  <app-clasic-toolbar [ruta]="'/trabajos-tercerizados'" [title]="'Alta trabajo tercerizado'"></app-clasic-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-input label="Modelo del equipo" labelPlacement="floating" formControlName="modelo"
          placeholder="J7 prime"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoDeTrabajoSeleccionado"
          label="Trabajo a realizar" labelPlacement="floating" mode="md" placeholder="Liberacion, Cuenta, etc.">
          <ion-select-option *ngFor="let trabajo of tiposDeTrabajosTercerizados" [value]="trabajo">
            {{trabajo}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="tipoDeTrabajoSeleccionado==tiposDeTrabajosTercerizadosEnum.Otro">
        <ion-input label="Trabajo a realizar" labelPlacement="floating" formControlName="trabajo"
          placeholder="Describa el trabajo"></ion-input>
      </ion-item>

      <ion-item *ngIf="tipoDeTrabajoSeleccionado==tiposDeTrabajosTercerizadosEnum.Liberacion">
        <ion-input label="Numero de IMEI" labelPlacement="floating" formControlName="imeiOriginal"
          placeholder="Escriba el IMEI original marcando *06#"></ion-input>
      </ion-item>
      <ion-item *ngIf="tipoDeTrabajoSeleccionado==tiposDeTrabajosTercerizadosEnum.Liberacion">
        <ion-input label="Version de android" labelPlacement="floating" formControlName="versionAndroidOriginal"
          placeholder="Especifique en que version se lleva."></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Boleta del equipo" labelPlacement="floating" type="number" formControlName="boleta"
          placeholder="4848"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Responsable" labelPlacement="floating" formControlName="responsable"
          placeholder="Yanke, Lucia, etc."></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea label="Detalles del equipo" labelPlacement="floating" formControlName="detallesDelEquipo"
          placeholder="El equipo lo mandamos con la tapa despegada, y el equipo astillado"></ion-textarea>
      </ion-item>

      <ion-button class="ion-margin" expand="full" type="submit" [disabled]="!formularioCompleto()">
        Agregar trabajo tercerizado
      </ion-button>
    </form>
  </ion-card>
</ion-content>