<ion-header>
  <app-clasic-toolbar [isModal]="false" (opcionesClick)="mostrarOpciones()" [mostrarOpciones]="true"
    [ruta]="'/dashboard'" [title]="'Lista de pedidos'"></app-clasic-toolbar>
</ion-header>


<ion-content>
  <ion-action-sheet mode="ios" [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"
    (didDismiss)="setOpen(false)"></ion-action-sheet>
  <!-- <ion-button (click)="borarPedidosConseguidosSinClientes()">borrar</ion-button> -->
  <ion-searchbar show-clear-button="focus" placeholder="J7 prime" [(ngModel)]="textoABuscar"
    (ionInput)="filtrarPorTexto($event,true)"></ion-searchbar>

  <ion-grid class="ion-text-center" style="margin-bottom: 5rem;">
    <ion-row>
      <ion-col><b>Repuesto</b></ion-col>
      <ion-col><b>Modelo</b></ion-col>
      <ion-col><b>Conseguido</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let pedido of pedidosAMostrar" [appPrioridadPedido]="pedido" (click)="mostrarDetalle(pedido)">
      <ion-col>{{pedido.tipo|titlecase}}</ion-col>
      <ion-col>{{pedido.modelo|titlecase}}</ion-col>
      <ion-col style=" display: flex; justify-content: space-evenly; align-items: center;">
        <ion-button (click)="notificarPorWhatsapp($event,pedido)" color="success"
          *ngIf="listaSeleccionada=='para_notificar' && pedido.cliente && pedido.cliente.telefono">
          <ion-icon style="font-size: 1.5rem;" name="logo-whatsapp"></ion-icon>
        </ion-button>

        <ion-button size="small" *ngIf="pedido.nota" (click)="mostrarNota($event,pedido)">
          <ion-icon name="document-text-outline"></ion-icon>
        </ion-button>

        <ion-checkbox *ngIf="listaSeleccionada!='para_notificar'" [(ngModel)]="pedido.conseguido" (click)="pedido.conseguido
        ?confirmarDesmarcado(pedido,'conseguido',$event)
        :confirmarMarcado(pedido,'conseguido',$event)"></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="mostrarFormularioDeAltaPedido()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="cargarListaDePedidos('pendientes')">
          <ion-icon color="primary" name="time-outline"></ion-icon>
          Pendientes
        </ion-tab-button>

        <ion-tab-button (click)="cargarListaDePedidos('conseguidos')">
          <ion-icon color="secondary" name="checkmark-outline"></ion-icon>
          Conseguidos
        </ion-tab-button>

        <ion-tab-button (click)="cargarListaDePedidosParaNotificar()">
          <ion-icon color="success" name="checkmark-done-outline"></ion-icon>
          Para notificar
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>