<ion-header>
  <app-clasic-toolbar [ruta]="'/dashboard'" [title]="'trabajos tercerizados'"></app-clasic-toolbar>
</ion-header>


<ion-content *ngIf="loggedUser;">

  <ion-grid class="ion-text-center" *ngIf="trabajosTercerizados">
    <ion-row>
      <ion-col><b>Modelo</b></ion-col>
      <ion-col><b>Trabajo</b></ion-col>
      <ion-col><b>Boleta</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let trabajo of trabajosTercerizados"
      [ngStyle]="{'background':!trabajo.fechaRetiro||trabajo.fechaRetiro==-1?'lightgreen':''}" (click)="mostrarDetalle(trabajo)">
      <ion-col>{{trabajo.modelo|titlecase}}</ion-col>
      <ion-col>{{trabajo.trabajo|titlecase}}</ion-col>
      <ion-col>{{trabajo.boleta}}</ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="abrirFormTrabajoTercerizado()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>