<ion-toolbar class="header">
  <ion-icon (click)="emitirDismissEvent()" [routerLink]="[ruta]" routerLinkActive="router-link-active" routerLinkActive="router-link-active"
    slot="start" name="arrow-back-outline" style="font-size: 150%;" class="ion-margin-start"
    ></ion-icon>
  <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [routerLink]="['/home']"></ion-back-button>
    </ion-buttons> -->
  <ion-title class="ion-text-center">
    <b> {{title}} </b> <!-- //TODO:  -->

  </ion-title>
  <ion-icon slot="end" class="ion-padding"> </ion-icon>
</ion-toolbar>