<ion-header>
  <app-clasic-toolbar [ruta]="'/repuestos'" [title]="'Lista de modulos'"></app-clasic-toolbar>
</ion-header>


<ion-content *ngIf="modulos">
  <app-precio-dolar [loggedUser]="loggedUser"
    *ngIf="loggedUser && funcionesUtiles.roleMinimoNecesario('OWNER',loggedUser)"></app-precio-dolar>

  <ion-item>
    <ion-select aria-label="Fruit" placeholder="Selecciona los campos que quieres ver" [multiple]="true"
      [(ngModel)]="camposSeleccionados">
      <ion-select-option value="marca">Marca</ion-select-option>
      <ion-select-option value="modelo">Modelo</ion-select-option>
      <ion-select-option value="precio">Precio</ion-select-option>
      <ion-select-option value="calidad">Calidad</ion-select-option>
      <ion-select-option value="tipo">Tipo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-searchbar show-clear-button="focus" placeholder="J7 prime" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col *ngIf="camposSeleccionados.includes('marca')"><b>Marca</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('modelo')"><b>Modelo</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('precio')"><b>Precio</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('calidad')"><b>Calidad</b></ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('tipo')"><b>Tipo</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let modulo of modulosAMostrar"
      (click)=" funcionesUtiles.roleMinimoNecesario('ADMIN',loggedUser)?seleccionar(modulo):''">
      <ion-col *ngIf="camposSeleccionados.includes('marca')">{{modulo.marca|titlecase}}</ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('modelo')">{{modulo.modelo|titlecase}}</ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('precio')">
        {{modulo.precio*precioDolarBlue|currency:'USD':'symbol':'1.0-0' }}</ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('calidad')">{{modulo.calidad}}</ion-col>
      <ion-col *ngIf="camposSeleccionados.includes('tipo')">{{modulo.tipo}}</ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab *ngIf="funcionesUtiles.roleMinimoNecesario('EMPLEADO',loggedUser)" slot="fixed" vertical="bottom"
    horizontal="end" (click)="abrirFormModulo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>