<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="secondary">
        <!-- TODO: constante color -->
        <ion-grid class="ion-padding">
          <ion-row>

            <ion-col size="3" style="display: flex; align-items: center;">
              <img src="/assets/images/logo.svg" alt="">
            </ion-col>

            <ion-col size="9">
              <ion-title class="ion-no-padding ion-margin-start">Multitask</ion-title><!-- //TODO:constante mainname -->
              <ion-text style="display: block;" class="ion-margin-start">Hola Usuario!</ion-text>
              <ion-menu-toggle auto-hide="true">
                <ion-button size="small" class="ion-margin-start" [routerLink]="['/login']"
                  routerLinkActive="router-link-active">
                  <ion-icon slot="start" icon="log-out-outline"> </ion-icon>
                  Salir
                </ion-button>
              </ion-menu-toggle>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>


    <ion-content>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item-divider class="ion-no-padding ion-padding-bottom ion-padding-top" [routerLink]="['/home']"
            routerLinkActive="router-link-active">
            <ion-item lines="none">
              <ion-icon name="home"></ion-icon>
              <ion-text class="ion-margin-start ion-text-capitalize"> <b> Inicio</b></ion-text>
            </ion-item>
          </ion-item-divider>

          <ion-item [routerLink]="['/mi-cuenta']" routerLinkActive="router-link-active">
            <ion-icon name="person-circle"></ion-icon>
            <ion-text class="ion-margin-start ion-text-capitalize"> <b> Mi cuenta</b></ion-text>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>

          <ion-item [routerLink]="['/notificaciones']" routerLinkActive="router-link-active">
            <ion-icon name="notifications"></ion-icon>
            <ion-text class="ion-margin-start ion-text-capitalize"> <b> Notificaciones</b></ion-text>
            <ion-badge color="danger" slot="end">5</ion-badge>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>

          <ion-item [routerLink]="['/ayuda']" routerLinkActive="router-link-active">
            <ion-icon name="help-circle"></ion-icon>
            <ion-text class="ion-margin-start ion-text-capitalize"> <b> Ayuda</b></ion-text>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>

          <ion-item [routerLink]="['/mis-reparaciones']" routerLinkActive="router-link-active">
            <ion-icon name="file-tray-full"></ion-icon>
            <ion-text class="ion-margin-start ion-text-capitalize"> <b> Mis reparaciones</b></ion-text>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>
          <ion-item [routerLink]="['/tienda']" routerLinkActive="router-link-active">
            <ion-icon name="storefront-outline"></ion-icon>
            <ion-text class="ion-margin-start ion-text-capitalize"> <b> Tienda</b></ion-text>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>