<ion-item-divider style="flex-direction: column;" class="ion-text-center ion-no-padding" color="light">
  <h1> Los celulares llegaron para cambiarnos la vida. </h1>
  <img style="max-width: 400px;" src="../../assets/images/storyWrapConectados.svg" alt="Conectados Siempre">
  <ion-text class="ion-margin ion-padding">
    Nos mantiene mas cerca de nuestros seres queridos, nos ayudan a
    optimizar nuestro
    tiempo
    resolviendo trámites desde casa, nos informa, nos divertirnos jugando, mensajeando o mirando nuestras series
    favoritas.
  </ion-text>
</ion-item-divider>
<ion-item-divider style="flex-direction: column;" class="ion-text-center ion-no-padding" color="light">
  <app-auto-write-titles [palabras]="fallasTipicas" [fontSize]="'2rem'" [velocidad]="100"
    [jsonCustomStyles]="customStyleAutoWrite"></app-auto-write-titles>
  <img style="max-width: 400px;" src="../../assets/images/brokenPhone.svg" alt="reparacion de pantalla">
  <ion-text class="ion-margin ion-padding">
    Para todo esto, necesitamos un telefono confiable y
    funcional las 24/7 y una empresa que
    responda cuando la necesitamos.
    <br>
    <br>
    Somos Multitask una empresa cercana a vos y sabemos ponernos en tu lugar, por eso tenemos servicios que
    se ajustan a la necesidad de cada cliente.
  </ion-text>
</ion-item-divider>