<ion-header>
  <app-clasic-toolbar (click)="modalController.dismiss()" [title]="'Ingresar correo'"></app-clasic-toolbar>
</ion-header>

<ion-content>
  <ion-chip style="text-align: center;" color="success" class="ion-margin">
    Tener el correo electronico actualizado es necesario para poder recibir notificaciones del estado de las
    reparaciones y otras novedades.
  </ion-chip>

  <ion-card>

    <div class="ion-text-center">

      <ion-chip class="ion-margin" color="primary" *ngIf="formCorreo.controls.correo.value?.includes('@')">
        Las notificaciones seran enviadas a <br>
        {{formCorreo.controls.correo.value}}
      </ion-chip>
    </div>
    <ion-card-content>
      <form [formGroup]="formCorreo" (ngSubmit)="guardar()" *ngIf="!modoActualizar">

        <ion-item>
          <ion-label position="floating" class="text1 bold">Email Anterior</ion-label>
          <ion-input type="email" formControlName="correo" placeholder="ingrese su correo"></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-margin-top" [disabled]="!formCorreo.valid" type="submit">Guardar correo
        </ion-button>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>