<ion-header>
  <app-clasic-toolbar [ruta]="'/articulos'" [title]="'Agregar articulo'"></app-clasic-toolbar>
</ion-header>
<ion-content>

  <ion-card>

    <ion-header class="accent-color">
      <ion-toolbar>
        <ion-title>Formulario de Alta de Joystick</ion-title>
      </ion-toolbar>
    </ion-header>

    <form [formGroup]="articuloFormGroup" (ngSubmit)="guardarJoystick()" class="ion-margin-top">

      <ion-item>
        <ion-input label="Marca" labelPlacement="floating" formControlName="marca" type="text"></ion-input>
      </ion-item>
      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('marca')?.hasError('required') && articuloFormGroup.get('marca')?.touched">
        <ion-text color="danger">La marca es obligatoria.</ion-text>
      </small>


      <ion-item mode="md">
        <ion-select multiple="true" label="Conexión" labelPlacement="floating" placeholder="Seleccione una conexion"
          formControlName="conexion">
          <ion-select-option *ngFor="let conexion of conexionJoystick"
            [value]="conexion">{{conexion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('velocidad')?.hasError('required') && articuloFormGroup.get('velocidad')?.touched">
        <ion-text color="danger">La velocidad es obligatoria.</ion-text>
      </small>

      <ion-item mode="md">
        <ion-select multiple="true" label="Compatibilidad" labelPlacement="floating"
          placeholder="Seleccione una compatibilidad" formControlName="compatibilidad">
          <ion-select-option *ngFor="let compatibilidad of compatibilidades"
            [value]="compatibilidad">{{compatibilidad}}</ion-select-option>
        </ion-select>
      </ion-item>

      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('precio')?.hasError('required') && articuloFormGroup.get('precio')?.touched">
        <ion-text color="danger">La categoría es obligatoria.</ion-text>
      </small>
      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('precio')?.hasError('min') && articuloFormGroup.get('precio')?.touched">
        <ion-text color="danger">El precio minimo es de 0.</ion-text>
      </small>

      <ion-button class="ion-padding" type="submit" expand="full"
        [disabled]="articuloFormGroup.invalid">Siguiente</ion-button>
    </form>


  </ion-card>
</ion-content>