<ion-header>
  <app-clasic-toolbar [ruta]="'/lista-productos'" [title]="'Generador de codigos'"></app-clasic-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input labelPlacement="floating" label="Ingrese el codigo que quiera." [(ngModel)]="barcodeText"
      (ionInput)="generateBarcode(barcodeText)"></ion-input>
  </ion-item>

  <div style="text-align: center; margin-top: 50px;">
    <canvas #barcode></canvas>
  </div>

  <ion-button expand="full" class="ion-margin" color="tertiary" (click)="generarCodigo()">
    <ion-icon slot="start"  name="dice-outline"></ion-icon>
    Generar codigo aleatorio</ion-button>
  <ion-button expand="full" class="ion-margin" color="primary" (click)="guardarCodigo()">Guardar Codigo</ion-button>

</ion-content>