<ion-header>
  <app-clasic-toolbar [ruta]="'/equipos-vendidos'" [title]="'Agregar nueva venta'"></app-clasic-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="step==1">
    <ion-card-header>
      <ion-card-title class="ion-text-center">DNI del comprador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="step1FormGroup">
        <ion-item  class="ion-margin">
          <ion-label position="floating">DNI</ion-label>
          <ion-input formControlName="dni" placeholder="ingrese el dni" required></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button color="primary" (click)="step=step+1" [disabled]="!step1FormGroup.valid">Siguiente</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="step==2">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Datos del equipo</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="step2FormGroup">
        <ion-item  class="ion-margin">
          <ion-select placeholder="Seleccione la marca" formControlName="marca">
            <ion-select-option
              *ngFor="let prioridad of ['apple', 'alcatel', 'huawei', 'lg', 'motorola',  'samsung','sony','xiaomi','otro']"
              [value]="prioridad">{{prioridad}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item  class="ion-margin">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input formControlName="modelo" placeholder="Ingrese modelo del equipo" required></ion-input>
        </ion-item>
        <ion-item  class="ion-margin">
          <ion-label position="floating">Imei</ion-label>
          <ion-input formControlName="imei" placeholder="Ingrese imei del equipo" required></ion-input>
        </ion-item>
        <ion-item  class="ion-margin">
          <ion-label position="floating">Precio</ion-label>
          <ion-input formControlName="precio" placeholder="Ingrese precio del equipo" required></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button color="warning" (click)="step=step-1">Atras</ion-button>
          <ion-button color="primary" (click)="step=step+1" [disabled]="!step2FormGroup.valid">Siguiente</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="step==3">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Accesorios</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="step3FormGroup">

        <ion-item  class="ion-margin">
          <ion-select placeholder="Seleccione lo que lleva" formControlName="accesorios" [multiple]="true">
            <ion-select-option *ngFor="let prioridad of ['auriculares', 'caja', 'cargador', 'cable', 'film',  'funda']"
              [value]="prioridad">{{prioridad}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-text-center">
          <ion-button color="warning" (click)="step=step-1">Atras</ion-button>
          <ion-button color="primary" (click)="step=step+1" [disabled]="!step3FormGroup.valid">Siguiente</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="step==4">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Fotos</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="step4FormGroup">
        <app-upload-images (imagesListChangedEvent)="actualizarImagenes($event)"></app-upload-images>

        <small style="color:'red'" class="flexCenterCenter" *ngIf="step4FormGroup.controls['images'].value.length<=0">
          <ion-icon>error_outline</ion-icon>
          Debe seleccionar al menos una foto
        </small>
        <div class="ion-text-center">
          <ion-button color="warning" (click)="step=step-1">Atras</ion-button>
          <ion-button [disabled]="step4FormGroup.controls['images'].value.length<=0" color="primary"
            (click)="step=step+1">Siguiente</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="step==5">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Revisa los datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ul>
        <li><b>Dni: </b> {{step1FormGroup.controls['dni'].value}}</li>
        <li><b>Marca: </b>{{step2FormGroup.controls['marca'].value}}</li>
        <li><b>Modelo: </b>{{step2FormGroup.controls['modelo'].value}}</li>
        <li><b>Imei: </b>{{step2FormGroup.controls['imei'].value}}</li>
        <li><b>Precio: </b> {{step2FormGroup.controls['precio'].value}}</li>
        <li *ngIf="step3FormGroup.controls['accesorios'].value.length"><b>Accesorios: </b><br>
          [ <b style="font-weight: 400;"
            *ngFor="let accesorio of step3FormGroup.controls['accesorios'].value; let index = index">
            <!-- para quitar la ',' del ultimo lugar -->
            {{accesorio }}{{((index+1)==step3FormGroup.controls['accesorios'].value.length)?'':', '}}
          </b> ]
        </li>
        <li *ngIf="step4FormGroup.controls['images'].value.length > 0">
          <b>imagenes:</b>
          <div class="image-grid">
            <img width="40px" height="40px" *ngFor="let img of step4FormGroup.controls['images'].value; let index = index"
              [src]="img" alt="imagen celular">
          </div>
        </li>

        <!-- <li *ngIf="step4FormGroup.controls.images.value.length>0"><b>imagenes: </b>
          <div style="display: flex; justify-content: space-around;">
            <img width="40px" height="40px" *ngFor="let img of step4FormGroup.controls.images.value; let index = index"
              [src]="img" alt="imagen celular">
          </div>
        </li> -->
      </ul>
      <div class="ion-text-center">
        <ion-button (click)="step=step-1">Atras</ion-button>
        <ion-button (click)="procesarVenta()"
          [disabled]="step4FormGroup.controls['images'].value.length<=0">Finalizar</ion-button>
        <small style="color:'red'" class="flexCenterCenter" *ngIf="step4FormGroup.controls['images'].value.length<=0">
          <ion-icon>error_outline</ion-icon>
          Debe seleccionar al menos una foto
        </small>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>