ion-range {
    --bar-background: #a2d2ff;
    --bar-background-active: #bde0fe;
    --bar-border-radius: 8px;
    --knob-background: var(--main-bg-color);
    --knob-size: 30px;
    --pin-background: var(--main-bg-color);
    --pin-color: #fff;
}
