<ion-header>
  <app-clasic-toolbar [title]="'Dejanos tu opinion'"></app-clasic-toolbar>
</ion-header>
<ion-content>

  <ion-card class="ion-padding ion-margin-top">
    <ion-card-header>
      <ion-card-title>¿Que te parecio la aplicación?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flexCenterCenter">
        <ion-img style="width: 100px; " [src]="'/assets/svg/encuesta/'+valorSeleccionado+'.svg'"></ion-img>
      </div>

      <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="5"
        [(ngModel)]="valorSeleccionado"></ion-range>

      <ion-item fill="outline">
        <ion-label position="floating">Contanos tu experiencia.</ion-label>
        <ion-textarea placeholder="Ej: La aplicacion funciona bien, pero, estaria bueno agregar..."
          label="Custom Counter Format" labelPlacement="floating"></ion-textarea>
      </ion-item>

      <div class="flexCenterCenter">

        <ion-button class="ion-margin" expand="block" (click)="modalController.dismiss()">Cancelar</ion-button>
        <ion-button class="ion-margin" expand="block" color="success">
          <ion-icon slot="end" name="send-outline"></ion-icon>Enviar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>