<ion-content>
  <ion-header>
    <app-clasic-toolbar [ruta]="'/repuestos/lista-glasses'" [title]="'Selector de modelos'"></app-clasic-toolbar>
  </ion-header>

  <ion-searchbar debounce="500" placeholder="Escriba marca o modelo del compatible" [(ngModel)]="textoABuscar"
    (ionInput)="onChangeFilter()"></ion-searchbar>

  <div class="ion-text-center" *ngIf="lista.length == 0" style="height: 85vh;">
    <ion-text>No hay modelos existentes cargados.</ion-text>
  </div>

  <ion-list lines="full">
    <ion-item color="light" *ngFor="let item of listaAMostrar">
      <ion-avatar *ngIf="item.images" (click)="mostrarImagenCompleta(item)">
        <img [src]="item.images[0]" />
      </ion-avatar>
      
      <div class="flexColumn ion-margin-start">
        <ion-text>{{item.producto}}</ion-text>
        <ion-label>{{item.codigo}}</ion-label>
        <ion-text *ngIf="item.precio" color="success">
          {{item.precio|redondearPrecio: 'pesos'|currency}}
        </ion-text>
      </div>

      <div slot="end" style="display:flex; align-items: center;">
        <label *ngIf="item.checked"
          style="position: absolute; right: 0.3rem; display:flex; flex-direction: column; align-items: center;">
        </label>

        <ion-button fill="clear" slot="end">
          <ion-checkbox aria-label="Label" [(ngModel)]="item.checked" (click)="seleccionarModelo($event, item)">
          </ion-checkbox>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="modelosSeleccionados.length > 0"
    (click)="mostrarConfirmacion()">
    <ion-chip class="terminarSeleccion" color="success" outline="true" style="background-color: white;">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Terminar selección</ion-label>
    </ion-chip>
  </ion-fab>
</ion-content>
