<ion-header>
  <app-clasic-toolbar [ruta]="'/articulos'" [title]="'Agregar articulo'"></app-clasic-toolbar>
</ion-header>
<ion-content>

  <ion-card>

    <ion-header class="accent-color">
      <ion-toolbar>
        <ion-title>Formulario de articulo</ion-title>
      </ion-toolbar>
    </ion-header>

    <form [formGroup]="articuloFormGroup" (ngSubmit)="guardarCargador()" class="ion-margin-top">

      <ion-item mode="md">
        <ion-select label="Categoria" labelPlacement="floating" placeholder="Seleccione una categoria"
          formControlName="categoria">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</ion-select-option>
        </ion-select>
      </ion-item>

      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('categoria')?.hasError('required') && articuloFormGroup.get('categoria')?.touched">
        <ion-text color="danger">La categoría es obligatoria.</ion-text>
      </small>

      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('nombre')?.hasError('required') && articuloFormGroup.get('nombre')?.touched">
        <ion-text color="danger">La categoría es obligatoria.</ion-text>
      </small>

      <ion-item>
        <ion-input label="Precio" labelPlacement="floating" formControlName="precio" type="number"></ion-input>
      </ion-item>
      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('precio')?.hasError('required') && articuloFormGroup.get('precio')?.touched">
        <ion-text color="danger">La categoría es obligatoria.</ion-text>
      </small>
      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('precio')?.hasError('min') && articuloFormGroup.get('precio')?.touched">
        <ion-text color="danger">El precio minimo es de 0.</ion-text>
      </small>

      <ion-item>
        <ion-text label="Codigo de barra" labelPlacement="floating" formControlName="codigoDeBarra"
          type="string"></ion-text>
      </ion-item>
      <small class="ion-margin-start"
        *ngIf="articuloFormGroup.get('codigoDeBarra')?.hasError('required') && articuloFormGroup.get('codigoDeBarra')?.touched">
        <ion-text color="danger">La categoría es obligatoria.</ion-text>
      </small>

      <ion-button class="ion-padding" type="submit" expand="full"
        [disabled]="articuloFormGroup.invalid">Siguiente</ion-button>
    </form>


  </ion-card>
</ion-content>