<ion-header>
  <app-clasic-toolbar [ruta]="'/libro-diario'" [title]="'Modificar venta'"></app-clasic-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <form>
      <div class="input-container">
        <ion-item >
          <ion-input label="Precio" labelPlacement="floating" type="number" placeholder="Ej: 1500" [(ngModel)]="item.precio"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>

        <ion-item  class="ion-margin-top ion-margin-bottom">
          <ion-input label="Numero de boleta" labelPlacement="floating" type="number" placeholder="Ej: 2955" [(ngModel)]="item.boleta"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>

      <ion-item >
        <ion-textarea label="Descripción" labelPlacement="floating" placeholder="Cargador 5.1 Innova tipo C" [(ngModel)]="item.descripcion"
          [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-item>

      <div>
        <ion-button class="ion-margin" expand="block" color="secondary" [disabled]="!item .precio||!item.descripcion"
          (click)="mostrarConfirmacion()"> Guardar cambios</ion-button>
          
        <ion-button class="ion-margin" expand="block" color="danger" (click)="eliminarItemVenta()">
          <ion-icon slot="start" name="trash-outline"></ion-icon>Eliminar venta</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>