<ion-header>
  <app-clasic-toolbar [ruta]="'/libro-diario'" [title]="'Modificar venta'"></app-clasic-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <form>
      <div class="input-container">
        <ion-item fill="outline">
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" placeholder="Ej: 1500" [(ngModel)]="item.precio"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="floating">Numero de boleta</ion-label>
          <ion-input type="number" placeholder="Ej: 2955" [(ngModel)]="item.boleta"
            [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>

      <ion-item fill="outline">
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea placeholder="Cargador 5.1 Innova tipo C" [(ngModel)]="item.descripcion"
          [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-item>

      <div>
        <ion-button expand="block" color="secondary" [disabled]="!item .precio||!item.descripcion"
          (click)="mostrarConfirmacion()">Guardar cambios</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>