<ion-content [fullscreen]="true" style="height: 100vh;">
  <!-- width: containerWidth+'vw',height:containerHeigth+'vh' -->
  <div id="contenedor" [ngStyle]="{overflow:'hidden'}">
    <h1 class="title texto">Multitask</h1>
    <!-- <div class="title texto">
        <app-auto-write-titles [fontSize]="'7vw'"></app-auto-write-titles>
    </div>
-->
    <h2 class="subTitle texto">
      Servicio tecnico especializado
    </h2>

    <img class="svgTapa" #svgTapa src="../../../assets/images/phoneAnimation/tapa.svg" alt="tapa">

    <img class="svgBateria" #svgBateria src="../../../assets/images/phoneAnimation/bateria.svg" alt="bateria">

    <img class="svgCamPincipal" #svgCamPincipal src="../../../assets/images/phoneAnimation/camPrincipal.svg"
      alt="camara principal">

    <img class="svgCamSecundaria" #svgCamSecundaria src="../../../assets/images/phoneAnimation/camSecundaria.svg"
      alt="camara secundaria">

    <img class="svgCubreLente" #svgCubreLente src="../../../assets/images/phoneAnimation/cubreLente.svg"
      alt="cubre lente">

    <img class="svgFlexCarga" #svgFlexCarga src="../../../assets/images/phoneAnimation/flexCarga.svg"
      alt="flex de carga">

    <img class="svgPantalla" #svgPantalla src="../../../assets/images/phoneAnimation/pantalla.svg" alt="pantalla">

    <img class="svgPortaSim" #svgPortaSim src="../../../assets/images/phoneAnimation/portaSim.svg" alt="porta sim">

    <img class="svgMicroSd" #svgMicroSd src="../../../assets/images/phoneAnimation/microSd.svg" alt="memoria micro sd">

    <img class="svgMarco" #svgMarco src="../../../assets/images/phoneAnimation/marco.svg" alt="marco">

    <img class="svgMidTapa" #svgMidTapa src="../../../assets/images/phoneAnimation/midTapa.svg" alt="mid tapa">

    <img class="svgSombra" #svgSombra src="../../../assets/images/phoneAnimation/sombra.svg" alt="sombra">
  </div>
</ion-content>


<!-- <ion-content [fullscreen]="true" style="height: 100vh;">
  <div id="contenedor" [ngStyle]="{width: containerWidth+'vw',height:containerHeigth+'vh',overflow:'hidden'}">
 <h1 class="title texto">Multitask</h1> 
  <div class="title texto">
        <app-auto-write-titles [fontSize]="'7vw'"></app-auto-write-titles>
    </div>

    <h2 class="subTitle texto">
        Servicio tecnico especializado
    </h2> 

    <img  
      class="svgTapa" src="../../../assets/images/phoneAnimation/tapa.svg" alt="tapa" #svgTapa>
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.5) translate(-1%,-20%)'}"
      class="svgBateria" src="../../../assets/images/phoneAnimation/bateria.svg" alt="bateria">
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.08) translate(-421%,-195%)'}"
      class="svgCamPincipal" src="../../../assets/images/phoneAnimation/camPrincipal.svg" alt="camara principal">
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.05) translate(-571%,-219%)'}"
      class="svgCamSecundaria" src="../../../assets/images/phoneAnimation/camSecundaria.svg" alt="camara secundaria">
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.15) translate(-210%,-114%)'}"
      class="svgCubreLente" src="../../../assets/images/phoneAnimation/cubreLente.svg" alt="cubre lente">
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.457) translate(48%,42%)'}"
      class="svgFlexCarga" src="../../../assets/images/phoneAnimation/flexCarga.svg" alt="flex de carga">

    <img  
      class="svgPantalla" src="../../../assets/images/phoneAnimation/pantalla.svg" alt="pantalla">
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.2) translate(-89%,4%)'}"
      class="svgPortaSim" src="../../../assets/images/phoneAnimation/portaSim.svg" alt="porta sim">
    <img 
      [ngStyle]="{width: imgWidth+'px', transform:'scale(0.11) translate(-174%,28%)'}"
      class="svgMicroSd" src="../../../assets/images/phoneAnimation/microSd.svg" alt="memoria micro sd">

    <img  class="svgMarco" src="../../../assets/images/phoneAnimation/marco.svg"
      alt="marco">
    <img  class="svgMidTapa" src="../../../assets/images/phoneAnimation/midTapa.svg"
      alt="mid tapa">
    <img  class="svgSombra" src="../../../assets/images/phoneAnimation/sombra.svg"
      alt="sombra">
  </div>
</ion-content> -->