<ion-header>
  <app-clasic-toolbar [ruta]="'/reparaciones-new-version'" [title]="'Alta de Glasses'"></app-clasic-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-toolbar class="header">
      <ion-text class="ion-text-center">
        <b>{{"Repuesto Glass"|uppercase}}</b>
      </ion-text>
    </ion-toolbar>
    <ion-card-content>
      <form [formGroup]="glassForm">

        <ion-item>
          <ion-select labelPlacement="floating" label="Marca" formControlName="marca">
            <ion-select-option *ngFor="let marca of marcas" [value]="marca">{{marca|titlecase}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" label="Modelo" formControlName="modelo" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input labelPlacement="floating" label="Precio" formControlName="precio" type="number"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-toolbar class="header">
      <ion-text class="ion-text-center">
        <b>{{"Caracteristicas"|uppercase}}</b>
      </ion-text>
    </ion-toolbar>
    <ion-card-content>
      <ion-grid>
        <!-- Fila para el encabezado -->

        <ion-row class="ion-margin-bottom">
          <ion-col size="8">
            <ion-text color="primary">
              <b>CARACTERISTICA</b>
              <ion-icon name="notifications-outline" slot="start" color="grey"></ion-icon>
            </ion-text>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-text color="success">
              <b>SI</b>
            </ion-text>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-text color="danger">
              <b>NO</b>
            </ion-text>
          </ion-col>
        </ion-row>


      </ion-grid>

      <form [formGroup]="glassForm">

        <!-- Es nuevo -->
        <ion-item-divider class="displayBlock ion-no-padding" style="background: none;">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <ion-text style="display: flex; align-items: center;">Es nuevo</ion-text>
            <ion-radio-group formControlName="estado" style="display: flex;">
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="true"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item-divider>
        <!-- Es nuevo -->

        <!-- Incluye OCA -->
        <ion-item-divider class="displayBlock ion-no-padding" style="background: none;">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <ion-text style="display: flex; align-items: center;">Incluye OCA</ion-text>
            <ion-radio-group formControlName="oca" style="display: flex;">
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="true"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item-divider>
        <!-- Incluye OCA -->

        <!-- Incluye marco -->
        <ion-item-divider class="displayBlock ion-no-padding" style="background: none;">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <ion-text style="display: flex; align-items: center;">Incluye Marco</ion-text>
            <ion-radio-group formControlName="marco" style="display: flex;">
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="true"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item-divider>
        <!-- Incluye marco -->

        <!-- Incluye touch -->
        <ion-item-divider class="displayBlock ion-no-padding" style="background: none;">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <ion-text style="display: flex; align-items: center;">Incluye Touch</ion-text>
            <ion-radio-group formControlName="touch" style="display: flex;">
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="true"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item-divider>
        <!-- Incluye touch -->

        <!-- Incluye polarizado -->
        <ion-item-divider class="displayBlock ion-no-padding" style="background: none;">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <ion-text style="display: flex; align-items: center;">Incluye polarizado</ion-text>
            <ion-radio-group formControlName="polarizado" style="display: flex;">
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="true"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item-divider>
        <!-- Incluye polarizado -->

        <!-- Es curvo -->
        <ion-item-divider class="displayBlock ion-no-padding" style="background: none;">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <ion-text style="display: flex; align-items: center;">Es curvo</ion-text>
            <ion-radio-group formControlName="curvo" style="display: flex;">
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="true"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="end" color="secondary" [value]="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-item-divider>
        <!-- Es curvo -->



      </form>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-toolbar class="header">
      <ion-text class="ion-text-center">
        <b>{{"Compatibilidad y Stock"|uppercase}}</b>
      </ion-text>
    </ion-toolbar>
    <ion-card-content>

      <form [formGroup]="glassForm" (ngSubmit)="onSubmit()">


        <ion-item>
          <ion-input labelPlacement="floating" label="Stock" formControlName="stock" type="number"></ion-input>
          <div class="flexColumn" slot="end">
            <ion-icon name="caret-up-outline" style="font-size: 2rem;" (click)="incrementStock()"></ion-icon>
            <ion-icon name="caret-down-outline" style="font-size: 2rem;" (click)="decrementStock()"></ion-icon>
          </div>
        </ion-item>
        <!-- 
        <ion-item>
          <ion-select labelPlacement="floating" label="Ubicación Repuesto" formControlName="ubicacionRepuesto">
            <ion-select-option value="{{ Ubicaciones.LocalSanMartin }}">Local San Martin</ion-select-option>
            <ion-select-option value="{{ Ubicaciones.LocalAvellaneda }}">Local Avellaneda</ion-select-option>
            <ion-select-option value="{{ Ubicaciones.ParaCambio }}">Para Cambio</ion-select-option>
          </ion-select>
        </ion-item> -->


        <!--  -->
        <ion-card class="ion-no-padding">
          <ion-card-header color="medium" class="ion-no-padding ion-text-center" style="padding: 5px;">
            <ion-text> Compatibles
            </ion-text>
          </ion-card-header>

          <ion-card-content class="ion-no-padding" style="max-height: 12rem; overflow-y: scroll;">
            <ion-item color="light" *ngFor="let compatible of this.glassForm.controls['compatibilidad'].value">
              <div style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                <ion-label class="ion-text-wrap">
                  <ion-text color="secondary">
                    <h3>{{ compatible.marca |uppercase}}</h3>
                  </ion-text>
                  <ion-text color="dark">
                    <h4>{{ compatible.modelo }}</h4>
                  </ion-text>
                  <!-- <ion-text color="primary">
                    <h5>{{ compatible.id }}</h5>
                  </ion-text> -->

                </ion-label>
              </div>

            </ion-item>
            <ion-button class="ion-margin" color="secondary" expand="block" size="small"
              (click)="abrirSelectorDeModelos()"
              *ngIf="this.glassForm.controls['compatibilidad'].value && this.glassForm.controls['compatibilidad'].value.length>0; else sinCompatiblesAgregados">Editar
              compatibles</ion-button>

            <ng-template #sinCompatiblesAgregados>
              <ion-row *ngIf="this.glassForm.controls['compatibilidad'].value">
                <ion-col class="ion-text-center ion-no-padding">
                  <ion-label color="danger" class="ion-margin">
                    Sin modelos seleccionados
                    <ion-button class="ion-margin" size="small" color="primary" expand="block"
                      (click)="abrirSelectorDeModelos()">Seleccionar modelos
                      compatibles</ion-button>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-card-content>
        </ion-card>
        <!--  -->


        <ion-button *ngIf="!modoModificarGlass" expand="full" color="success" type="submit" [disabled]="!glassForm.valid">Agregar Glass</ion-button>
        <ion-button *ngIf="modoModificarGlass" expand="full" color="success" [disabled]="!glassForm.valid" (click)="actualizarGlass()">Guardar cambios</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>