<ion-header>
  <app-clasic-toolbar [ruta]="'/equipos'" [title]="'Equipos vendidos'"></app-clasic-toolbar>
</ion-header>


<ion-content>
  
  <div *ngIf="listaEquiposVendidos&& listaEquiposVendidos.length>0;else informacion">
    <!-- <div class="ion-no-margin ion-no-padding" > -->
      <ion-item-sliding style="margin-bottom: 0.1rem;" class="ion-no-padding" *ngFor="let equipo of listaEquiposVendidos">
          <ion-accordion-group style="width: 100%;" >
            <ion-accordion value="first">
              <!-- [ngStyle]="{'background-color': equipo.fecha<='retirado'?'#f2e60f2e':''}" //TODO: retomar esto en el ion-item -->
              <ion-item slot="header" color="light">
                <ion-text slot="start"> <b>{{equipo.modelo|titlecase}}</b> </ion-text>
                <ion-text slot="end"> <b>{{equipo.dni}}</b> </ion-text>
              </ion-item>
              <div slot="content">
                <ul>
                  <li><b>Fecha de venta: </b> {{equipo.fecha|date:'medium'}}</li>
                  <li><b>Equipo: </b>{{equipo.marca}} {{equipo.modelo}}</li>
                  <li><b>Imei: </b>{{equipo.imei}}</li>
                  <li><b>Precio: </b> {{equipo.precio|currency:'USD':'symbol':'1.0-0'}}</li>
                  <li><b>Se vendio hace: </b> ({{equipo['tiempoTranscurrido']}}) dias</li>
                  <li [ngStyle]="{'color': equipo['tiempoTranscurrido'] > 15?'rgb(230 49 49)':'green'}"><b>Garantia:
                    </b>
                    {{
                      (equipo['tiempoTranscurrido'] <= 15)
                      ? 'Vigente!' 
                      :'Vencida hace('+(equipo['tiempoTranscurrido']-15)+') dias'
                    }}
                     </li>

                  <li *ngIf="equipo.accesorios.length"><b>Accesorios: </b><br>
                    [ <b *ngFor="let accesorio of equipo.accesorios; let index = index">
                      <!-- para quitar la ',' del ultimo lugar -->
                      {{accesorio }}{{((index+1)==equipo.accesorios.length)?'':', '}}
                    </b> ]
                  </li>
                </ul>
                <div *ngIf="equipo.images.length>0 ">
                  <div>
                    <ion-button class="ion-margin" expand="block" *ngIf="!equipo['mostrarImagenes']"
                      (click)="equipo['mostrarImagenes']=true" color="primary">
                      ver imagenes
                    </ion-button>
                  </div>

                  <div class="ion-text-center flexAroundCenter ion-margin" *ngIf="equipo['mostrarImagenes']">
                    <ion-avatar *ngFor="let img of equipo.images; let index = index"
                      (click)="mostrarImagenCompleta(img)">
                      <img alt="imagen celular" [src]="img" />
                    </ion-avatar>
                  </div>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>

        <ion-item-options>
          <ion-item-option color="warning" (click)="cancelarVenta(equipo)">Volver a disponibles</ion-item-option>
          <ion-item-option color="danger" (click)="eliminarVenta(equipo)">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    <!-- </div> -->
    <ion-button color="warning" expand="block" (click)="cargarTodasLasVentas()"> Ver todas las ventas</ion-button>


  </div>
  <ng-template #informacion>
    <ion-card class="ion-padding ion-text-center">
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
        <ion-card-subtitle>Equipos vendidos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui podras ver un listado de los equipos vendidos</p>
        <p>Tambien podras dar de altas nuevas ventas usando el boton con el simbolo de <b>+</b>
        </p>
        <br>
        <p>Este cartel solo se mostrara si no hay equipos vendidos.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openDialog()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<!-- 
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="seleccionarModulo('vendidos')">
          <ion-icon style="width: 3rem;" src="/assets/svg/icons/deudores.svg"></ion-icon>
          <ion-text color="danger"> Vendidos </ion-text>
        </ion-tab-button>


        <ion-tab-button (click)="seleccionarModulo('disponibles')">
          <ion-icon style="width: 3rem;" src="/assets/svg/icons/acreedores.svg"></ion-icon>
          <ion-text color="success"> Disponibles </ion-text>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer> -->