.venta-card {
    transition: transform 0.2s ease-in-out;
  }

  .venta-card:hover {
    transform: scale(1.02);
  }

  .detalle-venta ion-item {
    --background: #f8f8f8;
  }
  .saldo-negativo {
    color: red;
    font-weight: bold;
  }
  


  //MODAL
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Fondo oscuro difuminado */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-card {
    width: 90%;
    max-width: 400px;
    padding: 1.5rem;
    text-align: center;
  }
  
  .modal-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .validacion-container {
    margin-top: 1rem;
  }
  
  .resultado-caja {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .botones-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  