<ion-header>
  <app-clasic-toolbar [ruta]="'/home'" [title]="'Panel de control'"></app-clasic-toolbar>
</ion-header>

<ion-content *ngIf="loggedUser">
  <!-- <app-patron-de-bloqueo
  [patronPredefinido]="[1, 5, 9, 8, 7, 3, 2, 4, 6]" 
  (patronCompletado)="manejarPatronCompletado($event)" ></app-patron-de-bloqueo> -->


  <app-control-de-horas-trabajadas></app-control-de-horas-trabajadas>
  <div class="container">
    <ng-container *ngFor='let modulo of modulos'>
      <ion-chip *ngIf="funcionesUtiles.roleMinimoNecesario(modulo.role,loggedUser)" class="flexCenterCenter flexColumn" style="justify-content: space-evenly;"
        [routerLink]="modulo.ruta" routerLinkActive="router-link-active" [ngStyle]="{'background-color':modulo.color}">
        <img *ngIf="modulo.img" [src]="modulo.img" alt="">
        <ion-text class="ion-text-center title" style="color: white;"><b>{{modulo.titulo}}</b></ion-text>
      </ion-chip>
    </ng-container>

  </div>

  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end"
    *ngIf="funcionesUtiles.roleMinimoNecesario('EMPLEADO',loggedUser)">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" style="right: 0;">
      <ion-chip outline="true"
        style="min-width: 12rem; justify-content: space-between; padding: 1rem; background-color: white;"
        (click)="abrirScanner()">
        <ion-text> Escanear producto</ion-text>
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-chip>

      <ion-chip outline="true"
        style="min-width: 12rem; justify-content: space-between; padding: 1rem; background-color: white;"
        (click)="mostrarModalFormAltaReparacion()">
        <ion-text> Crear boleta</ion-text>
        <ion-icon name="document"></ion-icon>
      </ion-chip>
    </ion-fab-list>
  </ion-fab> -->

</ion-content>