  .container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(120px, 1fr)
    ); /* Ajusta 120px al ancho mínimo necesario para un chip */
    gap: 5px; /* Espacio entre los chips */
  }

ion-chip {
  /* Estilos adicionales para tus chips */
  height: auto;
  img {
    // position: absolute;
    max-height: 5rem;
    max-width: 7rem;
    // right: 0;
    // bottom: 0;
  }
}

iframe {
  width: 90vw;
  height: 30vh;
  border-radius: 10px;
  margin: 5%;
}
.title {
  color: white;
  // position: absolute;
  // left: 0.5rem;
  // top: 1rem;
  z-index: 99999;
  text-shadow: 0px 0px 13px black;
}

//segment vertical
.vertical-segment {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: flex-start; /* Alinea los botones hacia la izquierda */
}

.vertical-segment ion-segment-button {
  width: auto; /* Ajusta el ancho de los botones según el contenido */
  margin-bottom: 8px; /* Agrega un espacio entre los botones */
}

.vertical-segment ion-segment-button:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último botón */
}
