<ion-header>
  <ion-toolbar class="header">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="ion-text-center">
      <b> Multitask </b> <!-- //TODO:  -->

    </ion-title>
    <ion-icon [routerLink]="['/notificaciones']" routerLinkActive="router-link-active" slot="end" name="notifications"
      class="ion-margin" style="font-size: 130%;">
    </ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- *ngIf="puedeAcceder(modulo)" -->
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">

    <ion-card *ngFor='let modulo of modulos' class="ion-activatable ripple-parent flexCenterCenter"
      [routerLink]="modulo.ruta" routerLinkActive="router-link-active" [ngStyle]="{'background-color': modulo.color}">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title class="ion-text-center" style="color: white;">{{modulo.titulo}}</ion-card-title>
      </ion-card-header>

    </ion-card>

    

  </div>

</ion-content>