<ion-header>
  <ion-toolbar class="header">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="ion-text-center">
      <b> Multitask </b> <!-- //TODO:  -->

    </ion-title>
    <ion-icon [routerLink]="['/notificaciones']" routerLinkActive="router-link-active" slot="end" name="notifications"
      class="ion-margin" style="font-size: 130%;">
    </ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- *ngIf="puedeAcceder(modulo)" -->

  <app-story-wrap id="appStoryWrapper"></app-story-wrap>

  <ion-item-divider style="flex-direction: column;" class="ion-text-center ion-no-padding" color="light">

    <div style="width: 100%; ">
      <iframe class="w-100 h-100"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d52482.19346851796!2d-58.42513600000001!3d-34.701722000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x451fc62bb31a6590!2sMultitask!5e0!3m2!1ses!2sar!4v1659273201500!5m2!1ses!2sar"
        loading="lazy">
      </iframe>
    </div>
  </ion-item-divider>

  <ion-item-divider style="flex-direction: column;" class="ion-text-center ion-no-padding" color="light">

    <app-form-consulta></app-form-consulta>
  </ion-item-divider>
</ion-content>