.header {
  --background: var(--main-bg-color);
  --color: var(--main-light-color);
}

.my-custom-menu {
  --width: 500px;
}
ion-title {
  font-family: Audiowide;
}

ion-card {
  width: 40vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
}
