<ion-header>
  <ion-toolbar class="header">
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Articulos</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-icon [routerLink]="['/dashboard']" slot="start" name="arrow-back-outline" style="font-size: 150%;"
          class="ion-margin-start"></ion-icon>
        <ion-title>Filtros</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-accordion-group>
          <ion-accordion value="categorias">
            <ion-item slot="header" color="light">
              <ion-label>Categorias</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item *ngFor="let categoria of categorias">
                <ion-label>{{ categoria }}</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="categoria.seleccionada"></ion-checkbox>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>



        <ion-accordion-group>
          <ion-accordion value="precio">
            <ion-item slot="header" color="light">
              <ion-label>Rango de precios</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item lines="none">
                <ion-item>
                  <ion-label position="floating">Mínimo</ion-label>
                  <ion-input placeholder="Ej: 1500" type="number" [(ngModel)]="precioMin"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Máximo</ion-label>
                  <ion-input placeholder="Ej: 20000" type="number" [(ngModel)]="precioMax"></ion-input>
                </ion-item>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>


        <ion-accordion-group>
          <ion-accordion value="condicion">
            <ion-item slot="header" color="light">
              <ion-label>Condición</ion-label>
            </ion-item>
            <div slot="content">

              <ion-item fill="outline">
                <ion-label position="floating">Condición</ion-label>
                <ion-select placeholder="Seleccione la cantidad">
                  <ion-select-option *ngFor="let condicion of ['usado','nuevo','reacondicionado']"
                    [value]="condicion">{{condicion|titlecase}}</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>





      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-title class="ion-margin-top ion-text-center">Busca tu producto ideal</ion-title>




  <!-- Searchbar with a cancel button and custom cancel button text -->
  <ion-searchbar show-cancel-button="focus" cancel-button-text="Custom Cancel" placeholder="Buscador"
    [(ngModel)]="textoABuscar"></ion-searchbar>






  <ion-list>
    <ion-item-divider *ngFor="let categoria of categorias" class="ion-no-margin ion-padding-bottom"
      style="flex-direction: column; align-items: start;">
      <h2>{{ categoria }}</h2>


      <ion-card *ngFor="let accesorio of filtrarAccesoriosPorCategoria(categoria)">
        <ion-card-content class="ion-no-padding">
          <div class="card-content-container">
            <div class="left-content">
              <!-- Contenido del lado izquierdo (30%) -->
              <img [src]="accesorio.imagen" />
              <p>
                <b style="color: green;">{{accesorio.precio|currency:'USD':'symbol':'1.0-0'}}</b>
              </p>
            </div>
            <div class="right-content">
              <!-- Contenido del lado derecho (70%) -->
              <p>

                <b> {{accesorio.nombre}}</b>
              </p>
              <p *ngIf="accesorio.marca">
                <small>

                  marca: {{accesorio.marca}}
                </small>
              </p>

              <p *ngIf="accesorio.marca">
                <small>

                  tipo: {{accesorio.marca}}
                </small>
              </p>
              <p *ngIf="accesorio.compatibilidad">
                <small>

                  compatibilidad: {{accesorio.compatibilidad}}
                </small>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

    </ion-item-divider>

  </ion-list>

</ion-content>