<ion-header>
  <app-clasic-toolbar [ruta]="'/lista-modulos'" [title]="'Agregar modulo'"></app-clasic-toolbar>
</ion-header>

<ion-content>
  <ion-card class="d-flex justify-content-center">

    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <b>
          Agregar Modulo
        </b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form class="card p-3 m-3 col-lg-6" [formGroup]="formModulo">




        <!-- <div class="form-group  text-center m-1">
          <input type="text" class="form-control" placeholder="Escriba el modelo" aria-label="Modulo" matInput
              formControlName="modelo" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let modulo of modulosFiltrados | async" [value]="modulo">
                  {{modulo}}
              </mat-option>
          </mat-autocomplete>
      </div> -->


        <ion-item fill="outline" class="ion-margin">
          <ion-input type="number" placeholder="precio en dolares" formControlName="precio"></ion-input>
          <ion-chip>{{formModulo.controls.precio.value*492|currency}}</ion-chip>
        </ion-item>


        <ion-item fill="outline" class="ion-margin">
          <ion-select aria-label="fruit" placeholder="Select fruit" formControlName="marca">>
            <ion-select-option *ngFor="let marca of marcas" [value]="marca">{{marca}}</ion-select-option>
          </ion-select>
        </ion-item>



        <ion-card class="ion-margin">
          <ion-item fill="outline" class="ion-margin">
            <ion-select slot="start" placeholder="Selecciona el color" formControlName="color">
              <ion-select-option *ngFor="let color of colores" [value]="color">{{color}}</ion-select-option>
            </ion-select>
            <ion-select slot="end" placeholder="Selecciona la cantidad" formControlName="cantidad">
              <ion-select-option *ngFor="let cantidad of cantidades" [value]="cantidad">{{cantidad}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="divColores">
            <div style="display: flex; justify-content: center;">
              <div *ngFor="let auxStock of nuevoModulo?.stock">
                <ion-chip outline="true" *ngIf="auxStock.color=='Blanco'" class="badge m-1"
                  [ngStyle]="{'background-color':auxStock.color|colores}">{{auxStock.cantidad}}</ion-chip>
                <ion-chip outline="true" *ngIf="auxStock.color!='Blanco'" class="badge m-1" style="color: white;"
                  [ngStyle]="{'background-color':auxStock.color|colores}">{{auxStock.cantidad}}</ion-chip>
              </div>
            </div>
            <ion-item-divider>
              <ion-button color="secondary" (click)="agregarNuevoColor()">Nuevo color</ion-button>
            </ion-item-divider>
          </div>
        </ion-card>



        <ion-item fill="outline" class="ion-margin">
          <ion-select aria-label="fruit" placeholder="Select fruit" formControlName="tipo">>
            <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item fill="outline" class="ion-margin">
          <ion-select aria-label="fruit" placeholder="Select fruit" formControlName="calidad">>
            <ion-select-option *ngFor="let calidad of calidades" [value]="calidad">{{calidad}}</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-button type="submit" color="primary" expand="block" [disabled]="!formModulo.valid"
          (click)="procesarAltaModulo()">Agregar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>